@using Cirice.Data.Models
@using Microsoft.AspNetCore.Identity
@model Cirice.Data.ViewModels.CompositionViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="panel panel-info">
    <div class="panel-heading">
        Comments
    </div>
    <div class="panel-body comments">
        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <input type="hidden" name="userId" value="@UserManager.FindByNameAsync(User.Identity.Name)" />
                <textarea name="commentString" class="form-control" placeholder="Leave your comment here" rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-info">Submit</button>
            </form>
        }
        <ul class="media-list">
            <li class="media">
                <div class="comment">
                    <div class="media-body">
                        <strong class="text-success">User1</strong>
                        <span class="text-muted">
                            <small class="text-muted">2016-02-11</small>
                        </span>
                        <p>
                            Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="media">
                <div class="comment">
                    <div class="media-body">
                        <strong class="text-success">Пользователь 3</strong>
                        <span class="text-muted">
                            <small class="text-muted">2016-02-09</small>
                        </span>
                        <p>
                            Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="media">
                <div class="comment">
                    <div class="media-body">
                        <strong class="text-success">Пользователь 4</strong>
                        <span class="text-muted">
                            <small class="text-muted">2016-02-08</small>
                        </span>
                        <p>
                            Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария Здесь текст комментария
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
