@model Cirice.Data.ViewModels.ForgotPasswordViewModel
    <div id="logreg-forms">
        <form class="form-reset" method="post" asp-action="ForgotPassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a asp-action="Login" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
