@model Cirice.Data.ViewModels.ResetPasswordViewModel
<div id="logreg-forms">
    <form class="form-signup" method="post" asp-controller="Account" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly"></div>
        <span asp-validation-for="PasswordConfirm"></span>
        <span asp-validation-for="Password"></span>
        <input asp-for="Password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
        <input asp-for="PasswordConfirm" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    </form>
</div>
