@model Cirice.Data.ViewModels.ImageViewModel
<div class="container row">
    <div class="col-md-1 bg-light"></div>
    <div class="col-12 col-md-10 bg-light pb-3 pt-3">
        <div class="col-12 text-center">
            <p>Image of your composition(not required)</p>
        </div>
        <form asp-action="Upload" asp-controller="Composition" class="dropzone" id="my-awesome-dropzone"></form>
        <div class="row">
            <div class="col-12 d-inline-flex flex-row-reverse">
                <a asp-action="Index" asp-controller="Composition" asp-route-id="@Model.Id" class="btn btn-outline-success mt-2">Finish</a>
            </div>
        </div>
    </div>
    <div class="col-md-1 bg-light"></div>
</div>
@section Scripts
{
    <script src="~/js/dropzone.js"></script>
    <script>
        Dropzone.options.myAwesomeDropzone = {
            init: function() {
                this.on("sending", function(file, xhr, formData) {
                    formData.append("id", @Model.Id);
                });
            }
        };
    </script>
}
