@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-2 text-left">
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Composition</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 1</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 2</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 3</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 4</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 5</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 1</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 1</a></p>
    <p><a href="" class="text-decoration-none font-weight-bold text-dark">Chapter 1</a></p>
</div>
<div class="col-8">
    <h4 class="text-center">Chapter 1</h4>
    <p>sdfghgfdgngfdrsdf hgderaghrte aSGFZdhrewagsfc ghr tegszdxfmhrteqwed gfmcfrteqszdxhfvn cmhfrteqrs zdgmfrteQRHZGDXFM GDSFHGRA RSGDFGS DFG SDFGS DFG SDFGSDF GSDF GSDFG SDF</p>
    <div class="row">
        <div class="col-6">
            <a href="" class="btn btn-dark">Previous</a>
        </div>
        <div class="col-6 d-inline-flex flex-row-reverse">
            <a href="" class="btn btn-dark">Next</a>
        </div>
    </div>
</div>