@using Cirice.Data.Models
@using Cirice.Data.ViewModels
@model Cirice.Data.ViewModels.ListCompositionViewModel
<div class="col-md-1"></div>
<div class="col-12 col-md-10 bg-light">
    <div class="row">
        <a class="col-4 text-center btn btn-dark" href="#">All</a>
        <a class="col-4 text-center btn btn-light" href="#">Popular</a>
        <a class="col-4 text-center btn btn-light" href="#">Authors</a>
    </div>
    <form action="" class="mt-3">
        <div class="p-1 bg-light mb-4">
            <div class="input-group">
                <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-white">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary bg-white"><img src="svg/magnifying-glass.svg" alt="" height="13px" /></button>
                </div>
            </div>
        </div>
    </form>
    <div id="scrolList">
        <partial name="_Item"/>
    </div>
    <div id="loading" class="align-content-center"><img src='@Url.Content("~/loading_spinner.gif")'></div>

<div class="col-md-1"></div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
 
            $('div#loading').hide();
 
            var page = 0;
            var _inCallback = false;
            function loadItems() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;
                    page++;
                    $('div#loading').show();
 
                    $.ajax({
                        type: 'GET',
                        url: '/Home/Index/' + page,
                        success: function (data, textstatus) {
                            if (data != '') {
                                $("#scrolList").append(data);
                            }
                            else {
                                page = -1;
                            }
                            _inCallback = false;
                            $("div#loading").hide();
                        }
                    });
                }
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
 
                    loadItems();
                }
            });
        })
    </script>
}



